{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        {% for post in posts %}
            <div class="card mt-3">
                <div class="card-header d-flex align-items-center">
                    <h4 class="m-0 me-auto"><a href="{% url 'post-detail' post.id %}"
                                               class="text-decoration-none text-secondary">{{ post.title }}</a></h4>
                    <div class="d-flex align-items-center">
                        <img src="{{ post.author.profile.image.url }}" alt="" class="rounded-circle me-2" width="30">
                        <a class="text-decoration-none text-dark"
                           href="{% url 'user-posts' post.author.username %}">{{ post.author.username }}</a>
                    </div>
                </div>
                <div class="card-body">
                    {{ post.content }}
                    <hr>
                    <div class="mb-2">
                        {% for tag in post.tag_set.all %}
                            <span class="btn btn-sm btn-outline-primary disabled">
                                {{ tag.name }}
                            </span>
                        {% endfor %}
                    </div>
                    <span>Created at: {{ post.created_at | date:"F d, Y" }}</span>
                    <br>
                    <span>Updated at: {{ post.updated_at | date:"F d, Y" }}</span>
                    {% if request.user == post.author %}
                        <div style="position: absolute; right: 10px; bottom: 10px;">
                            <a href="{% url 'post-update' post.id %}" class="btn btn-outline-primary btn-sm">Update</a>
                            <a href="{% url 'post-delete' post.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            <div class="mt-4">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
                {% endif %}
                {% for idx in page_obj.paginator.page_range %}
                    {% if page_obj.number == idx %}
                        <a href="" class="btn btn-outline-secondary mb-4 disabled">{{ idx }}</a>
                    {% elif idx > page_obj.number|add:'-3' and idx < page_obj.number|add:'3' %}
                        <a href="?page={{ idx }}" class="btn btn-outline-secondary mb-4">{{ idx }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}